#destination_element p.first-para {
margin-top:0;
}

a {
color:#2A5DB0;
}

a:hover {
color:#000;
}

ul {
list-style:none;
margin-bottom:0;
padding:0;
}

li {
padding-left:32px;
margin:6px 0;
}


p:last-child {
margin-bottom:0;
}

a.profile-found
{
	display: block;
	position: relative;
	height: 20px;
	min-height: 20px;
	background-repeat: no-repeat;
	background-position: 6px 5px;
	padding-top: 6px;
	padding-bottom: 0;
	padding-left: 31px;
	padding-right: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	font-weight:bold;
}

a.profile-found > .icon
{
	display: block;
	width: 16px;
	height: 16px;
	padding: 3px;
	border: 1px solid transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	left: 2px;
	top: 1px;
}